body {
    background-color: #f3f3f3;
    font-family: Helvetica;
}

footer {
    background-color: #000000;
    color:#ffffff;
    font-style: italic;
    margin-top: 2.5rem;
    font-size: 0.8em;
    text-align:center;
    padding: 1rem
}

.text-center {
    text-align: center;
}

.navbar{
    margin:0.8 0 0 0rem;
    background-color: #000000;
    color: #ffffff;
    font-family:"Century Gothic";
    padding: 1rem;
}

.navbar :link{
    color: #ffffff;
    text-decoration: none;
}
.navbar :visited{
    color: #ffffff;
    text-decoration: none;
}
.navbar :hover{
    font-weight: bold;
    text-decoration: underline;
}
.active-page{
    color: #ff8800;
    font-weight: bold;
}
/* Breadcrumb */
.breadcrumb {
    font-size: 0.9em;
    padding: 0.5rem;
    background-color: #b3b3b3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumb :link, .breadcrumb :visited {
    color: #000000;
    text-decoration: none;
}

.logreg {
    display: flex;
    gap: 0.2rem;
    justify-content: flex-end;
    color: #000;
}

.login:link, .login:visited {
    color: #f80;
}

.register:link, .register:visited {
    color: #fff;
}


/* -------------- */

ul a:not(:last-child)::after{
    content: " - ";
}

table {
    border-collapse: collapse;
}
td {
    text-align: left;
}

tr:nth-child(even){
    background-color: #000;
    color: #f80;
}
tr:nth-child(odd){
    background-color: #f80;
    color: #000;
}

th {
    background-color: #000;
    color: #fff;
    padding: 0.25rem;
}

tr:hover{
    background-color: #0ff;
    color: #f00;
}


.propos{
    max-width: 100%;
}
.propos_title {
    text-align: center;
    padding: 1%;
    margin-bottom: 1%;
}
.propos_line{
    display: flex;
    gap: 2%;
}
.propos_block {
    flex: 1;
    border: 0.12rem solid #444;
    padding: 0.15%;
    text-align: justify;
}
.propos_bottom {
    width: 100%;
}
.propos_block h2 {
    margin-top: 0;
    border-bottom: 1% solid #ccc;
    padding-bottom: 5%;
}
/* Style compétences checkbox */
.offers-page {
    display: flex;
    gap: 2%;
    padding: 2%;
    align-items: stretch;
}


.sidebar {
    width: 20%;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 1rem;
    padding: 1rem;

    position: sticky;
    top: 1rem;
}

.sidebar-title {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.specialites {
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.specialites li {
    break-inside: avoid;
    margin-bottom: 8px;
    font-size: 14px;
}

.specialites input[type="checkbox"] {
    margin-right: 5px;
}

.offers-content {
    flex: 1;
}


.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    padding: 12px;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 14px;
    text-align: center;
}
/* --------------------- */
/* Style pour les offres */
.offer-card {
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 15px;
}

.offer-card h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.offer-card .resume {
    margin: 10px 0;
    font-size: 14px;
}

.competence-bar {
    background-color: #333;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
}

.offer-card :link, .offer-card :visited {
    color: #f80;
    text-decoration: none;
    font-size: 0.7rem;
}
/* ----------*/

form {
    color:#F80;
    max-width: 75%;
    margin: auto;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    font-size: 0.8rem;
    width: 100%;
    box-sizing:  border-box;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    background-color: #e6f0ff;
    box-shadow: 0 0 0 0.1rem #000;
}

select {
    cursor: pointer;
}

textarea {
    resize: none;
}

button[type="submit"], input[type="reset"] {
    padding: 0.6rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
}

button[type="submit"]:hover {
    background-color: #e67600;
}

button[type="submit"] {
    background-color: #f80;
    color: #fff;
}

input[type="reset"] {
    background-color: #fff;
    color: #333;
}

input[type="reset"]:hover {
    background-color: #b3b3b3;
}

label {
    display: block;
    font-weight: bold;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 0.5rem;
    margin-bottom: 0.7rem;
}

form p {
    margin-top: 0.7rem;
    margin-bottom: 0.3rem;
}

form label input[type="checkbox"],
form label input[type="radio"] {
    margin-top: 0;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: #f80;
    background-color: #fff;
    box-shadow: 0 0 0 0.1rem rgba(255,136,0,0.15);
}

.titreBox {
    color: #f80
}

input[type="radio"], input[type="checkbox"]{
    accent-color:#f80;
}

input[type="file"]::file-selector-button{
    background-color: #f80;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-right: 0.6rem;
    transition: 0.3s;
}
input[type="file"]::file-selector-button:hover{
    background-color: #e67600;
}

input[type="file"] {
    background-color: #fafafa;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.06rem solid #ddd;
}