{% extends "base.twig.html" %}

{% block title %}Parcours des offres - Job2main{% endblock %}
{% block description %}Parcourez nos offres de stages et trouvez celle qui vous correspond !{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">404 - Page non trouvée</h1>
        <p class="text-center">Désolé, la page que vous recherchez n'existe pas ou a été déplacée.</p>
        <div class="text-center">
            <a href="index.php" class="btn-deco">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}
