{% extends "base.twig.html" %}

{% block title %}Parcours des offres - Job2main{% endblock %}
{% block description %}Parcourez nos offres de stages et trouvez celle qui vous correspond !{% endblock %}

{% block body %}
	 
	   <section>
	   
			<h1 class="text-center">Le meilleur endroit pour trouver ou déposer votre annonce !</h1>
			
			<article>
				<h2>Catégories</h2>
				<ul>
					<a href="index.php?page=offres">VOIR TOUTES LES OFFRES DE STAGES</a>
				</ul>
			</article>

			<article class="article-accueil">
				<h2>Dernières offres ajoutées</h2>

				<div class="carousels-container accueil">
					<div class="carousel-wrapper">
						<button class="carousel-btn prev">‹</button>
						<div class="carousel">
							<div class="carousel-track">
								{% for offre in latestOffres %}
									<a class="card" href="index.php?page=detail-offre&id={{ offre.id_offre }}">
										<h3>{{ offre.titre }}</h3>
										<p>{{ offre.nom_entreprise }}</p>
										<p>{{ offre.date_offre }}</p>
									</a>
								{% else %}
									<div class="card">Aucune offre récente disponible.</div>
								{% endfor %}
             	    		</div>
						</div>
						<button class="carousel-btn next">›</button>
					</div>
				</div>

        	</article>
	   </section>
{% endblock %}