{% extends "base.twig.html" %}

{% block title %}Parcours des offres - Job2main{% endblock %}
{% block description %}Parcourez nos offres de stages et trouvez celle qui vous correspond !{% endblock %}

{% block body %}
			<div class="container_inscription">
				<div class="auth-card">
					<div class="tabs">
					{% if user %}
						<a href="index.php?page=profil" class="tab">Profil</a>
					{% else %}
						<a href="index.php?page=connexion" class="tab">Connexion</a>
					{% endif %}
        				<div class="tab active">Inscription</div>
					</div>
					<div class="card-body">
						<div class="logo">
							<img src="projet-static.local/images/JOB_2_MAIN_mini.png" alt="Job2main">
						</div>
					{% if user.id_role > 0 %}
						{% if error %}
							<div class="alert alert-danger">
								{{ error }}
							</div>
						{% endif %}

						{% if success %}
							<div class="alert alert-success">
								{{ success }}
							</div>
						{% endif %}

						<form id="auth-form" method="POST" action="formulaireInscription.php">
							<div class="input-group">
								<label>Nom <span class="required">*</label>
								<input name="nom_utilisateur" type="text" placeholder="Dupont">
							</div>

							<div class="input-group">
								<label>Prénom <span class="required">*</label>
								<input name="prenom_utilisateur" type="text" placeholder="Gontrand">
							</div>

							<div class="input-group">
								<label>Email <span class="required">*</span></label>
								<input name="email" type="email" placeholder="gontrand.dupont@viacesi.fr" required>
							</div>

							<div class="input-group">
								<label>Téléphone</label>
								<input name="telephone" type="text" placeholder="118 712 36 30">
							</div>

							<div class="input-group">
								<label>Mot de passe <span class="required">*</span></label>
								<input name="password" type="password" placeholder="azerty123" required>
							</div>

							<div class="input-group">
								<label>Rôle</label>
								<select name="id_role" required>
									<option value="">-- Choisir un rôle --</option>
								
									{% if user and user.id_role == 2 %}
										{# ADMIN → tous les rôles #}
										{% for role in roles %}
											<option value="{{ role.id_role }}">
												{{ role.nom_role|capitalize }}
											</option>
										{% endfor %}

									{% elseif user and user.id_role == 1 %}
										{# PILOTE → uniquement étudiant #}
										<option value="0">Étudiant</option>

									{% endif %}
								</select>
							</div>

							<button type="submit" class="btn-primary" id="submit-btn">Inscrire</button>
						</form>				
					{% else %}
						<h2 id="form-title" class="text-center">
							Vous n'avez pas les droits pour créer des comptes utilisateurs. Veuillez contacter un administrateur pour plus d'informations.
						</h2>
					{% endif %}
					</div>
				</div>
			</div>
{% endblock %}