{% extends "base.twig.html" %}

{% block title %}Parcours des offres - Job2main{% endblock %}
{% block description %}Parcourez nos offres de stages et trouvez celle qui vous correspond !{% endblock %}

{% block body %}
        <div class="mes-offres-container">
            <div class="flex-item">
                <h1>Les Pilotes</h1>
                {% if pilote is empty %}
                    <p>Vous n'avez aucun Pilote.</p>
                {% else %}
                    <div class="wishlist-grid">
                    {% for pilote in pilote %}
                        <div class="wishlist-card">
                            <h2>{{ pilote.nom_utilisateur}} {{ pilote.prenom_utilisateur}}</h2>
                            <h4>{{pilote.email}}</h4>
                            <a href="index.php?page=modifier_profil" class="btn-wishlist-offre">
                                Modifier <!--REVOIR ICI OU LA PAGE RENVOIE-->
                            </a>
                            <a href="index.php?page=supprimer-wishlist&id={{ offre.id_offre }}" class="btn-wishlist-supprimer">
                                Retirer <!--REVOIR ICI OU LA PAGE RENVOIE-->
                            </a>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="flex-item">
                <h1>Les Etudiants</h1>
                {% if etudiants is empty %}
                    <p>Vous n'avez d'étudiants.</p>
                {% else %}
                    <div class="wishlist-grid">
                    {% for etudiants in etudiants %}
                        <div class="wishlist-card">
                            <div class="wishlist-card">
                                <h2>{{ etudiants.nom_utilisateur}} {{ etudiants.prenom_utilisateur}}</h2>
                                <h4>{{etudiants.email}}</h4>
                                <a href="index.php?page=detail-offre&id={{ offre.id_offre }}" class="btn-wishlist-offre">
                                    Modifier <!--REVOIR ICI OU LA PAGE RENVOIE-->
                                </a>
                                <a href="index.php?page=supprimer-wishlist&id={{ offre.id_offre }}" class="btn-wishlist-supprimer">
                                    Retirer <!--REVOIR ICI OU LA PAGE RENVOIE-->
                                </a>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
            <a href="index.php?page=inscription" class="btn-creer-entreprise">+ Créer un étudiant</a>
        </div>
{% endblock %}



        
            
