{% extends "base.twig.html" %}

{% block title %}Profil - Job2main{% endblock %}
{% block description %}Mon profil Job2main{% endblock %}

{% block body %}
    <div class="container">
        <div class="auth-card">
            <div class="tabs">
                <div class="tab active">Profil</div>
                <a href="index.php?page=inscription" class="tab">Inscription</a>
            </div>
            
            <div class="card-body">
                {% if user %}
                    <div class="input-group">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <label>Nom</label>
                            <a href="index.php?page=mes_offres" class="btn-mes-offres">Mes offres</a>
                        </div>
                        <p>{{ user.nom_utilisateur }}</p>
                    </div>
                        
                    <div class="input-group">
                        <label>Prénom</label>
                        <p>{{ user.prenom_utilisateur }}</p>
                    </div>

                    <div class="input-group">
                        <label>Email</label>
                        <p>{{ user.email }}</p>
                    </div>

                    <div class="input-group">
                        <label>Téléphone</label>
                        <p>{{ user.telephone }}</p>
                    </div>
                    
                    {% if user.role == 0 %}
                        <a href="index.php?page=modifier_profil" class="btn-deco">Modifier mon mot de passe</a>
                    {% else %}
                        <a href="index.php?page=modifier_profil" class="btn-deco">Modifier mon profil</a>
                    {% endif %}
                    <a href="index.php?page=logout" class="btn-deco">Se déconnecter</a>

                {% else %}
                    <p>Impossible de charger les informations.</p>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}