{% extends "base.twig.html" %}

{% block title %}Parcours des offres - Job2main{% endblock %}
{% block description %}Parcourez nos offres de stages et trouvez celle qui vous correspond !{% endblock %}

{% block body %}	 
    <section class="section-stats">
        <h1 class="text-center">STATISTIQUES</h1>
    </section>

	<div class="carousels-container-stats">
		<div class="carousel-wrapper-stats">
			<button class="carousel-btn-stats prev">‹</button>
			<div class="carousel-stats">
				<div class="carousel-track-stats">
					<div class="card-stats">Bloc 1</div>
					<div class="card-stats">Bloc 2</div>
					<div class="card-stats">Bloc 3</div>
					<div class="card-stats">Bloc 4</div>
					<div class="card-stats">Bloc 5</div>
				</div>
			</div>
			<button class="carousel-btn-stats next">›</button>
		</div>
	</div>
	
{% endblock %}