{% extends "base.twig.html" %}

{% block title %}Parcours des offres - Job2main{% endblock %}
{% block description %}Parcourez nos offres de stages et trouvez celle qui vous correspond !{% endblock %}

{% block body %}	 
    <section>
        <h1 class="text-center">STATISTIQUES</h1>
    </section>

	<div class="carousels-container">
		<div class="carousel-wrapper">
			<button class="carousel-btn prev">‹</button>
			<div class="carousel">
				<div class="carousel-track">
					<div class="card">Bloc 1</div>
					<div class="card">Bloc 2</div>
					<div class="card">Bloc 3</div>
					<div class="card">Bloc 4</div>
					<div class="card">Bloc 5</div>
				</div>
			</div>
			<button class="carousel-btn next">›</button>
		</div>

		<div class="carousel-wrapper">
			<button class="carousel-btn prev">‹</button>
			<div class="carousel">
				<div class="carousel-track">
					<div class="card">Bloc 6</div>
					<div class="card">Bloc 7</div>
					<div class="card">Bloc 8</div>
					<div class="card">Bloc 9</div>
					<div class="card">Bloc 10</div>
				</div>
			</div>
			<button class="carousel-btn next">›</button>
		</div>

		<div class="carousel-wrapper">
			<button class="carousel-btn prev">‹</button>
			<div class="carousel">
				<div class="carousel-track">
					<div class="card">Bloc 11</div>
					<div class="card">Bloc 12</div>
					<div class="card">Bloc 13</div>
					<div class="card">Bloc 14</div>
					<div class="card">Bloc 15</div>
				</div>
			</div>
			<button class="carousel-btn next">›</button>
		</div>
	</div>
	
{% endblock %}